header{
    color: rgb(240, 247, 227);
    background-color: rgb(18, 148, 255);
    
}

p{
    font-size: 25px;
}

ul{
    font-size: 25px;
}

nav{ 
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(250, 130, 100, 0.877);
}

nav a {
    display: block;
    padding: 10px;
    background-color: rgb(223, 245, 173);
    color: black;
    text-decoration: dashed;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
    background-color: white; }

    @media ONLY screen AND ( max-width: 600px) { 
        header{ 
            background-color: rgb(247, 6, 6);
        }
        nav{
            flex-direction: column;
        }
    
        nav a {
            border-bottom: thin solid rgb(15, 15, 15);
        }
       
    }

    
.schedule {
    border: 1px solid;
 
    border-spacing: 0px ;
    caption-side: top ;
    border-collapse: collapse;

     
}

.schedule tr{
    background-color: rgb(232, 240, 237);
}
 .schedule td {
    border-bottom: thin solid;
    padding: 10px;

 }

 .schedule th{

 border-bottom: thin solid black;

 }

 .schedule thead tr{
    background-color: rgb(0, 0, 248);
    color: white;
 }
 

.schedule tbody tr:nth-child(odd){
    background-color: beige;

}